
.App {
  text-align: center;
}

#timer{
  margin: auto;
  border:1px solid green;
  height:100px;
  width:100px;
  border-radius:50%;
  background: rgb(158, 158, 197);
  margin-top:20px;

  
}

#timer > h3{
    margin-top: 30px;
  
}

.timerDiv{
  width:300px;
  height:200px;
  border:1px solid gray;
  margin: auto;
  margin-top:20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: rgb(204, 202, 202);
}

.timerDiv > button{
  margin-top:10px;
  background: rgb(34,193,195);
  background: linear-gradient(108deg, rgba(34,193,195,1) 0%, rgba(97,45,253,0.6026785714285714) 67%);  
  padding:8px;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
