.labelname{
  text-align: left;
}

 .App {
 text-align: center; 
} 

#formDiv{
  width:30%;
  border:1px solid green;
  margin:auto;
  padding: 30px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: #d8f1f8;
  
}

.all{
  width:80%;
}
#button{
  width:100px;
  height:30px;
  background: #9f4abb;
  border-radius: 5px;

}
#button:hover{
  cursor: pointer;
  background: #8526a5;
  color: white;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
