.App {
  text-align: center;
}

#container{
  border:1px solid red;
  margin: auto;
  width:50%;
  margin-top:20px;
  border-radius: 10px;
  background: rgb(216, 219, 219);
  padding:10px;
}
.control_btn{
  padding:5px;
  background:#8ce26a;
  border:1px solid;
  border-radius:5px;
  color:white;
  height:30px;
  margin-right:5px;
  border-radius: 5px;
  
  
}

#list_item{
  display: flex;
  border:1px solid red;
  margin: auto;
  justify-content: space-between;
  padding:5px;
  margin-top:10px;
  background: rgb(243, 185, 185);
  border-radius: 10px;
}
#list_item > span{ 
  padding:10px;
}
#main_btn{
  background:#8ce26a;
  border:1px solid;
  border-radius:5px;
  color:white;
  padding:5px;
  margin-right:5px;
  border-radius: 5px;
  margin-left: 40px;
}
input{
  height:20px;
  outline:none;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
