.App {
  /* border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
  width:98%; */
text-align: center;
  margin: auto;
}

.container{
  width: 25%;
  margin: auto;
  height: 200px;
  background: rgb(207, 207, 235);
  padding: 30px;
  margin-top: 20px;
  border:2px solid blue;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  
}

.data{
  margin-top: 30px;
}
button{
  padding: 10px;
  border-radius: 5px;
  background: #f2a9ef;
  border: 1px solid green;
  margin-left: 20px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
}








.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} 

